body {
    background-color: #211939;
    color: #BC86A2;
    font-family: 'Raleway', sans-serif;
}

main {
    margin: 1rem;
    min-height: calc(100vh - 2rem);
    min-width: calc(100vw - 2rem);
}

.photo {
    max-width: 20rem;
}

.inverse {
    background-color: #BC86A2;
    color: #211939;
}
